* text=auto

*.md text eol=lf
*.py text eol=lf
*.json text eol=lf
*.json3 text eol=lf linguist-generated=true
*.yaml text eol=lf
*.yml text eol=lf
*.csv text eol=lf
*.ps1 text eol=crlf

*.docx binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.zip binary
